/*# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
.card-icon {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
}

canvas {
  max-height: 400px;
}

.d-flex {
  display: flex;
  gap: 10px;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.pagination-btn {
  background-color: #007bff;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.pagination-btn:hover {
  background-color: #0056b3;
}

.pagination-btn:disabled {
  background-color: #6c757d;
}

.pagination-icon {
  font-size: 1.5rem; /* Augmente la taille des icônes */
  color: white;
}

.export-menu {
  position: relative;
  display: inline-block;
}

.menu-icon {
  cursor: pointer;
}

.menu-options {
  position: absolute;
  right: 0;
  z-index: 1000;
}
