<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Liste des Personnels - Gestion du Personnel</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <style>

  </style>

</head>

<body>

  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Liste des Qualifications ( Personnels )</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Liste des Qualifications ( Personnels )</h5>
              <div class="mb-3 text-end">
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPersonnelModal">
                  <i class="bi bi-person-add "></i> Ajouter un personnel
                </button>
              </div>
              <!-- Table des Personnels -->
              <table class="table">
                <thead class="table-light">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Matricule</th>
                    <th scope="col">Qualifications</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mot de Passe</th>
                    <th scope="col">Role</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let personnel of getPaginatedPersonnel() , let i = index">
                    <th>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</th>
                    <td>{{ personnel.nom }}</td>
                    <td>{{ personnel.prenom }}</td>
                    <td>{{ personnel.matricule }}</td>
                    <td>{{ personnel.qualifications }}</td>
                    <td>{{ personnel.email }}</td>
                    <td>{{ personnel.motDePasse | slice:0:8 }}****</td>
                    <td>{{ personnel.role }}</td>
                    <td>
                      <div class="action-buttons d-flex flex-wrap gap-1">
                        <button *ngIf="personnel.active && personnel.role !== 'ADMIN'" type="button"
                          class="btn btn-sm btn-primary" (click)="openEditModal(personnel)" data-bs-toggle="modal"
                          data-bs-target="#editPersonnelModal">
                          <i class="bi bi-pencil"></i>
                        </button>


                        <button *ngIf="personnel.active && personnel.role !== 'ADMIN'"
                          class="btn btn-sm btn-outline-warning" (click)="deactivatePersonnel(personnel.id)"
                          title="Désactiver le compte">
                          <i class="bi bi-person-lock"></i>
                        </button>

                        <span *ngIf="!personnel.active && personnel.role !== 'ADMIN'" class="badge bg-danger">
                          <i class="bi bi-x-lg" title="Ce compte est désactivé"></i>

                        </span>
                      </div>
                    </td>

                  </tr>
                </tbody>
              </table>
              <!-- End Table des Personnels -->


              <!-- PAGINATION -->
              <nav class="d-flex justify-content-end mt-3">
                <ul class="pagination pagination-sm">

                  <!-- Previous Button -->
                  <li class="page-item" [class.disabled]="currentPage === 1">
                    <button class="page-link" (click)="changePage(currentPage - 1)">
                      <i class="bi bi-chevron-left"></i>
                    </button>
                  </li>

                  <!-- First page -->
                  <li class="page-item" [class.active]="currentPage === 1">
                    <button class="page-link" (click)="changePage(1)">1</button>
                  </li>

                  <!-- Dots before current page group -->
                  <li class="page-item" *ngIf="currentPage > 4">
                    <span class="page-link">...</span>
                  </li>

                  <!-- Pages around current page -->
                  <li class="page-item" *ngFor="let page of paginationPages()" [class.active]="currentPage === page">
                    <button class="page-link" (click)="changePage(page)">
                      {{ page }}
                    </button>
                  </li>

                  <!-- Dots after current page group -->
                  <li class="page-item" *ngIf="currentPage < totalPages - 3">
                    <span class="page-link">...</span>
                  </li>

                  <!-- Last page -->
                  <li class="page-item" [class.active]="currentPage === totalPages" *ngIf="totalPages > 1">
                    <button class="page-link" (click)="changePage(totalPages)">{{ totalPages }}</button>
                  </li>

                  <!-- Next Button -->
                  <li class="page-item" [class.disabled]="currentPage === totalPages">
                    <button class="page-link" (click)="changePage(currentPage + 1)">
                      <i class="bi bi-chevron-right"></i>
                    </button>
                  </li>

                </ul>
              </nav>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- Modal d'ajout -->
    <div class="modal fade" id="addPersonnelModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Ajouter un personnel</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
          </div>

          <div class="modal-body">
            <section class="section">
              <form [formGroup]="personnelForm" (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="nom" class="form-label">Nom</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-person"></i></span>
                      <input type="text" id="nom" class="form-control" formControlName="nom"
                        placeholder="Entrer le nom">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="prenom" class="form-label">Prénom</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-person"></i></span>
                      <input type="text" id="prenom" class="form-control" formControlName="prenom"
                        placeholder="Entrer le prénom">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="matricule" class="form-label">Matricule</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-hash"></i></span>
                      <input type="text" id="matricule" class="form-control" formControlName="matricule"
                        placeholder="Entrer matricule">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="qualifications" class="form-label">Qualifications</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-award"></i></span>
                      <input type="text" id="qualifications" class="form-control" formControlName="qualifications"
                        placeholder="Qualifications">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-envelope-at"></i></span>
                      <input type="email" id="email" class="form-control" formControlName="email"
                        placeholder="example@domaine.com">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="motDePasse" class="form-label">Mot de passe</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-lock"></i></span>
                      <input [type]="showPassword ? 'text' : 'password'" id="motDePasse" class="form-control"
                        formControlName="motDePasse" placeholder="Mot de passe sécurisé"
                        (focus)="passwordFocused = true" (blur)="passwordFocused = false">
                      <button type="button" class="btn btn-outline-secondary" (click)="togglePassword()">
                        <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                      </button>
                    </div>
                    <div *ngIf="passwordFocused" class="form-text text-danger">
                      Doit contenir au moins <strong>8 caractères</strong>, une <strong>majuscule</strong> et un
                      <strong>chiffre</strong>.
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label for="role" class="form-label">Rôle</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person-badge"></i></span>
                    <select id="role" class="form-control" formControlName="role">
                      <option value="" disabled selected>Choisir un rôle</option>
                      <option value="RESPONSABLE_RECEPTION">Responsable Réception</option>
                      <option value="CONTROLEUR">Contrôleur</option>
                    </select>
                  </div>
                </div>

                <div class="text-center mt-4">
                  <button type="submit" class="btn btn-primary w-100">
                    <i class="bi bi-person-add"></i> Ajouter Personnel
                  </button>
                </div>
              </form>
              <!-- Bouton caché pour fermer le modal -->
              <button id="closeModalBtn" type="button" class="d-none" data-bs-dismiss="modal"></button>
            </section>
          </div>

        </div>
      </div>
    </div>

    <!-- Modal pour Modifier un Personnel -->
    <!-- Modal pour Modifier un Personnel -->
    <div class="modal fade" id="editPersonnelModal" tabindex="-1" aria-labelledby="editPersonnelModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="editPersonnelModalLabel">Modifier un personnel</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
          </div>

          <div class="modal-body">
            <section class="section">
              <form [formGroup]="editPersonnelForm" (ngSubmit)="onUpdatePersonnel()">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label class="form-label">Nom</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-person"></i></span>
                      <input type="text" class="form-control" formControlName="nom" placeholder="Entrer le nom">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="form-label">Prénom</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-person"></i></span>
                      <input type="text" class="form-control" formControlName="prenom" placeholder="Entrer le prénom">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label class="form-label">Matricule</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-hash"></i></span>
                      <input type="text" class="form-control" formControlName="matricule"
                        placeholder="Entrer le matricule">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="form-label">Qualifications</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-award"></i></span>
                      <input type="text" class="form-control" formControlName="qualifications"
                        placeholder="Qualifications">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label class="form-label">Email</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-envelope-at"></i></span>
                      <input type="email" class="form-control" formControlName="email"
                        placeholder="example@domaine.com">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label class="form-label">Mot de passe</label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="bi bi-lock"></i></span>
                      <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                        formControlName="motDePasse" placeholder="Laisser vide pour ne pas modifier"
                        (focus)="passwordFocused = true" (blur)="passwordFocused = false">
                      <button type="button" class="btn btn-outline-secondary" (click)="togglePassword()">
                        <i [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label">Rôle</label>
                  <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person-badge"></i></span>
                    <select class="form-control" formControlName="role">
                      <option value="RESPONSABLE_RECEPTION">Responsable Réception</option>
                      <option value="CONTROLEUR">Contrôleur</option>
                    </select>
                  </div>
                </div>

                <div class="text-center mt-4">
                  <button type="submit" class="btn btn-primary w-100">
                    <i class="bi bi-pencil-square"></i> Enregistrer les modifications
                  </button>
                </div>
              </form>

              <!-- Bouton caché pour fermer le modal -->
              <button id="closeEditModalBtn" type="button" class="d-none" data-bs-dismiss="modal"></button>
            </section>
          </div>
        </div>
      </div>
    </div>


  </main><!-- End #main -->

  <app-footer></app-footer>

</body>

</html>