
        body {
            padding-top: 60px;
            display: flex;
            justify-content: center;
            font-family: Arial, sans-serif;
            
        }

        .container {
            display: flex;
            flex-direction: column;
            width: 90%;
            max-width: 1200px;
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-top: 30px;
        }

        .scan-section {
            text-align: center;
            margin-bottom: 20px;
            margin-top: 30px;
        }

        .scan-input {
            padding: 10px;
            width: 60%;
            margin-right: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .btn-rechercher {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            transition: background 0.3s;
        }

        .btn-rechercher:hover {
            background-color: #0056b3;
        }

        .left-section {
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }

        h3 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 10px;
            margin-top: 10px;
        }

        th, td {
            padding: 12px;
            border: 1px solid #ddd;
            text-align: center;
            border-radius: 6px;
        }

        th {
            background-color: #f0f0f0;
            color: #333;
            font-family: 'Helvetica', 'Arial', sans-serif;
            font-weight: lighter;
            text-transform: uppercase;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        tr:hover {
            background-color: #e9ecef;
        }

        .valid {
            background-color: #28a745;
            color: white;
        }

        .invalid {
            background-color: #dc3545;
            color: white;
        }

        .btn-suivant {
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 12px;
            background-color: #28a745;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background 0.3s;
        }

        .btn-suivant:hover {
            background-color: #218838;
        }

        /* Modal */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            width: 50%;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }

        .close {
            float: right;
            font-size: 28px;
            cursor: pointer;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

       
        select {
            padding: 8px;
            border-radius: 4px;
            width: 100%;
            border: 1px solid #ccc;
            font-size: 14px;
            margin: 5px 0;
            background-color: #f9f9f9;
        }

        select:focus {
            border-color: #007bff;
        }

        input[type="text"] {
            padding: 8px;
            width: 100%;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 14px;
            margin: 5px 0;
        }

        input[type="text"]:focus {
            border-color: #007bff;
        }

        .validate-btn {
            padding: 8px 16px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .validate-btn:hover {
            background-color: #0056b3;
        }

  

.btn-group .btn {
    border-radius: 5px;
    padding: 8px 12px;
}

.btn-group .btn i {
    margin-right: 5px; /* Espacement entre l'icône et le texte */
}

.input-group {
    margin-top: 5px;
}
.btn.active {
    border: 2px solid #ccc;
}

input[type="radio"] {
    display: none; /* Masquer les boutons radio par défaut */
}