<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    body {
      padding-top: 60px; /* Ajustez la valeur en fonction de la hauteur de votre header */
    }

    app-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <app-header></app-header>
  <main>
    
   <div class="accueil-container">
  <img src="assets/img/demenagement-entrepot.jpeg" alt="Accueil" class="img-fluid" />
</div>
   
  </main>
</body>
</html>
