<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tables / General - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
</head>

<body>
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <main id="main" class="main">
    <div class="pagetitle">
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Liste des Produits du Fournisseur</h5>

              <!-- Table des produits -->
              <div class="container">
                <h2>Produits du Fournisseur</h2>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Référence du Produit</th>
                      <th scope="col">Nom du Produit</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let produit of produits">
                      <th scope="row">{{ produit.idProduit }}</th>
                      <td>{{ produit.reference }}</td> 
                      <td>{{ produit.nom }}</td> 
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- Fin Table des produits -->
            </div>
          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->

  <app-footer></app-footer>
</body>

</html>
