
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tables / General - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  
</head>

<body>

  
    <app-header></app-header>
    <app-sidebar></app-sidebar>
  

  <main id="main" class="main">

    <div class="pagetitle">
      
     
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Liste des Produits</h5>

              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Référence</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Image</th>
                    <th scope="col">Fournisseur</th>
                    <th scope="col">Caractéristiques</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let produit of produits; let i = index" >
                    <th scope="row">{{ i + 1 }}</th>
                    
                    <td>{{ produit.reference }}</td>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.description }}</td>
                    <td>{{ produit.prix | currency:'EUR' }}</td>
                    <td>   <img *ngIf="produit.imagePath" [src]="'http://localhost:8080' + produit.imagePath" alt="Image produit" width="100"></td>
                    <td>{{ produit.fournisseur.nomFournisseur }}</td>
                    <td>
                      <ul>
                        <li *ngFor="let carac of produit.caracteristiques">
                          <strong>{{ carac.nom }}:</strong> {{ carac.valeur }}
                        </li>
                      </ul>
                    </td>
                <td>
                    <button type="submit" class="btn btn-primary">Modifier</button>
                  <button type="reset" class="btn btn-secondary" (click)="supprimerProduit(produit.idProduit)" >Supprimer</button>
                </td>
                  </tr>
                  
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
          </div>

          

          

          

          

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  

  

</body>
<app-footer></app-footer>
</html>