 /* Personnaliser les couleurs des boutons */
    .btn-info {
      background-color: #17a2b8;
      border-color: #17a2b8;
    }

    /* Modifier le bouton Modifier avec un bleu foncé */
    .btn-primary {
      background-color: #0056b3;
      /* Bleu foncé */
      border-color: #0056b3;
      /* Bleu foncé */
    }

    /* Remplacer btn-danger par un gris clair pour le bouton Supprimer */
    .btn-danger {
      background-color: #6c757d;
      /* Gris clair */
      border-color: #6c757d;
      /* Gris clair */
    }

    /* Ajouter un effet de survol pour les boutons */
    .btn:hover {
      opacity: 0.9;
    }

    /* Optionnel : changer la couleur de fond du tableau pour un meilleur contraste */
    table {
      background-color: #f8f9fa;
    }